html{
    height: 100%;
}
body{
    height: 100%;
    background:radial-gradient(circle, rgb(255, 99, 94),rgb(248, 155, 112));
    /* background-repeat: no-repeat; */
    background-size: cover;
    font-family: monospace;

}
